i {
    font-size: 25px;
}

.fa-circle-user{
    color: blueviolet;
}

.h{
    font-size: 20px;
    font-weight: 500;    
}

.b{
    font-size: 70px;
    font-weight: 900; 
}
.fa-python{
    color: white;
    font-size: 40px;
}
.fa-redhat{
    color: white;
    font-size: 40px;
}
.fa-network-wired{
    color: white;
    font-size: 30px;
}

.circle-icon {
    background: #130909;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    line-height: 65px;
    vertical-align: middle;
    padding: 0px;
}
.fa-twitter{
    color: rgb(107, 32, 226);
    font-size: 20px
}
.fa-linkedin-in {
    color: rgb(107, 32, 226);
    font-size: 20px
}
.fa-instagram{
    color: rgb(107, 32, 226);
    font-size: 20px
}
.fa-youtube{
    color: rgb(107, 32, 226);
    font-size: 20px
}
.circle-icon1{
    background: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
    padding: 0px;
}
.circle-icon2{
    background: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
    padding: 0px;
}
.circle-icon3{
    background: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
    padding: 0px;
}
.circle-icon4{
    background: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
    padding: 0px;
}
